/* You can add global styles to this file, and also import other style files */
html, body {
	font-family: "Andale Mono";
	font-weight: 900;
	height: 100%;
	margin: 0;
}
.container-fluid {
	overflow: hidden;
}
.row_{
}
.heading {
	padding: 0;
	text-align: center;
	margin: 0 auto;
	display: flex;
}
.center {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	/*margin-top: 18vh;*/
	text-align: center;
	background-color: lightblue;
	height: 8.5vh;

}
.first {
	padding-right: 0;
}
.second {
	padding: 0;
}
.third {
	padding-left: 0;
}
.address {
	font-weight: 400;
}